In [17]:
#iMplementing naive bayes classifier

In [18]:

import pandas as pd
import numpy as np

In [19]:
#Creating our data
#rest writting in copy
#creating an empty data frame
data=pd.DataFrame()

#creating our target variables
data['gender'] = ['male','male','male','male','female','female','female','female']

#creating our feature variable
data['height']=[6.0,5.92,5.58,5.92,5.0,5.5,5.42,5.75]
data['weight']=[180,190,170,165,60,80,70,90]
data['foot_size']=[12,11,12,10,6,8,7,9]

#view data
data

   gender  height  weight  foot_size
0    male    6.00     180         12
1    male    5.92     190         11
2    male    5.58     170         12
3    male    5.92     165         10
4  female    5.00      60          6
5  female    5.50      80          8
6  female    5.42      70          7
7  female    5.75      90          9

In [20]:
#the above dataset is used to construct our classifier.
#creating empty dataFrame
person=pd.DataFrame()
#now we shall create a new person for whom we know
#their feature values but not the gender.
#or goul is to predict the gender
#creating the feature values for this single row
person['height']=[6]
person['weight']=[100]
person['foot_size']=[10]

#view the data
person

   height  weight  foot_size
0       6     100         10

In [21]:
#calculating the prior values
#we shall calculate the prior for both male and feamles genders
#prior can be either constants or probalitydistributions
#In our example is the simply the probability of being the gender
#number of males
n_male=data['gender'][data['gender']=='male'].count()

#number of females
n_female=data['gender'][data['gender']=='female'].count()

#total rows
total_people = data['gender'].count()
print('count of male  = {}, female = {} and all persons = {} '.format(n_male,n_female,total_people))

count of male  = 4, female = 4 and all persons = 8

In [22]:
#number of male divide by the tota number of candidates
p_male=n_male/total_people #prior for male

#no. of feamles divided by the toatl number of candidates
p_female=n_female/total_people #prior foe female

print('prior for male = {} and female = {}'.format(p_male,p_female))

prior for male = 0.5 and female = 0.5

In [23]:
#now doing group by gender and calculating the mean of each feature
data_means=data.groupby('gender').mean()

#view the values
data_means

        height  weight  foot_size
gender
female  5.4175   75.00       7.50
male    5.8550  176.25      11.25

In [24]:
#now doing group by gender and calculate variance of each feature 
data_varience=data.groupby('gender').var()

#view the values
data_varience

          height      weight  foot_size
gender
female  0.097225  166.666667   1.666667
male    0.035033  122.916667   0.916667

In [25]:
#mean for male candidates
male_height_mean  = data_means['height'][data_means.index=='male'].values[0]
male_weight_mean  = data_means['weight'][data_means.index=='male'].values[0]
male_footsize_mean  = data_means['foot_size'][data_means.index=='male'].values[0]


print('so mean male height= {}, weight = {}, footsize = {}'.format(male_height_mean,male_weight_mean,male_footsize_mean))

so mean male height= 5.855, weight = 176.25, footsize = 11.25

In [26]:
#varience for male candidates
male_height_varience  = data_varience['height'][data_varience.index=='male'].values[0]
male_weight_varience  = data_varience['weight'][data_varience.index=='male'].values[0]
male_footsize_varience  = data_varience['foot_size'][data_varience.index=='male'].values[0]

print('so varience male height= {}, weight = {}, footsize = {}'.format(male_height_varience,male_weight_varience,male_footsize_varience))

so varience male height= 0.0350333333333333, weight = 122.91666666666667, footsize = 0.9166666666666665

In [27]:
#mean for female candidates
female_height_mean  = data_means['height'][data_means.index=='female'].values[0]
female_weight_mean  = data_means['weight'][data_means.index=='female'].values[0]
female_footsize_mean  = data_means['foot_size'][data_means.index=='female'].values[0]


print('so mean female height= {}, weight = {}, footsize = {}'.format(female_height_mean,female_weight_mean,female_footsize_mean))

so mean female height= 5.4175, weight = 75.0, footsize = 7.5

In [28]:
#varience for female candidates
female_height_varience  = data_varience['height'][data_varience.index=='female'].values[0]
female_weight_varience  = data_varience['weight'][data_varience.index=='female'].values[0]
female_footsize_varience  = data_varience['foot_size'][data_varience.index=='female'].values[0]

print('so varience female height= {}, weight = {}, footsize = {}'.format(female_height_varience,female_weight_varience,female_footsize_varience))

so varience female height= 0.09722499999999994, weight = 166.66666666666666, footsize = 1.6666666666666667

In [29]:
#writing one user defined functions which will calculate p(X/Y)

def p_x_given_y (x, mean_y, var_y):#prob of x given y
    #input ting the arguments into the probability density functin
    p=(1/np.sqrt(2*np.pi*var_y))*np.exp(-(x-mean_y)**2/(2*var_y))
    
    #returning the value of p
    return p

In [30]:
#now appling bayes classifier to a new data point

#we are calculating numerator part of the posterior of the male if unclassified observation is male
num_posterior_male=p_male *\
p_x_given_y(person['height'][0],male_height_mean,male_height_varience)\
*p_x_given_y(person['weight'][0],male_weight_mean,male_weight_varience)\
*p_x_given_y(person['foot_size'][0],male_footsize_mean,male_footsize_varience)

num_posterior_male

2.7029820755058373e-13

In [31]:
#now appling bayes classifier to a new data point

#we are calculating numerator part of the posterior of the female if unclassified observation is male
num_posterior_female=p_female *\
p_x_given_y(person['height'][0],female_height_mean,female_height_varience)\
*p_x_given_y(person['weight'][0],female_weight_mean,female_weight_varience)\
*p_x_given_y(person['foot_size'][0],female_footsize_mean,female_footsize_varience)

num_posterior_female

2.5091949180165409e-05

In [32]:
#as numerator part of the posterior for female is higher than the same for male, so we predict that the person is female

if(num_posterior_female>num_posterior_male):
    print("Abra ka Dabra  :0 You are Female")
else:
    ("Abra ka Dabra  :0 You are Male")

Abra ka Dabra  :0 You are Female