In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
np.random.seed(0)

In [2]:
df=pd.read_csv('salary_table.csv')

In [3]:
features2=pd.indexes.base.Index(['salary','experience','management'])

In [4]:
features2

Index(['salary', 'experience', 'management'], dtype='object')

In [5]:
df_1=pd.read_csv('salary_table.csv')

In [6]:
df_1['is_train']=np.random.uniform(0,1,len(df_1))<=.75
df_1.head()

   salary  experience education management is_train
0   13876           1  Bachelor          Y     True
1   11608           1      Ph.D          N     True
2   18701           1      Ph.D          Y     True
3   11283           1    Master          N     True
4   11767           1      Ph.D          N     True

In [7]:
df_1.loc[df_1['management']=='Y','management']=1

In [8]:
df_1.loc[df_1['management']=='N','management']=0

In [9]:
df_1.head()

   salary  experience education management is_train
0   13876           1  Bachelor          1     True
1   11608           1      Ph.D          0     True
2   18701           1      Ph.D          1     True
3   11283           1    Master          0     True
4   11767           1      Ph.D          0     True

In [10]:
train1, test1 = df_1[df_1["is_train"]==True],df_1[df_1["is_train"]==False]

In [11]:
print("Number of row in training & test DataFrames are {} and {}"\
      .format(len(train1),len(test)))

NameError: name 'test' is not defined

In [ ]:
features2

In [ ]:
y=pd.factorize(train1['education'])[0]
y

In [ ]:
clf=RandomForestClassifier(n_jobs=2,random_state=0)
#train the classifier to take the training and learn how they relate to the tring y(the species)\
clf.fit(train1[features2],y)#train[features]-> train attributes and y-> target value

In [ ]:
clf.predict(test1[features2])

In [ ]:
edutype=np.array(['Bachelor','Ph.D','Master'])

In [ ]:
preds=edutype[clf.predict(test1[features2])]
#view the PREDICTED species for the first five observstions
preds[0:5]

In [ ]:
test1['education'].head()

In [ ]:
pd.crosstab(test1['education'],preds,rownames=['actual education'],\
           colnames=['predicted education'])

In [ ]:
list(zip(train1[features2],clf.feature_importances_))